@{
    ViewBag.Title = "首页";
}
@section head{
    <script type="text/javascript">
        window.navSeq = 0;
    </script>
}
@section slider{
    <div class="slider-full">
        <div class="slider-container">
            <div class="mp-slider">
                <ul class="items">
                    <li>
                        <img src="/images/slide-1.jpg" alt="" /><div class="banner mp-ban-1"><span class="row-1"></span><span class="row-2"></span><span class="row-3"></span></div>
                    </li>
                    <li>
                        <img src="/images/slide-2.jpg" alt="" /><div class="banner mp-ban-2"><span class="row-1"></span><span class="row-2"></span><span class="row-3"></span></div>
                    </li>
                    <li>
                        <img src="/images/slide-3.jpg" alt="" /><div class="banner mp-ban-3"><span class="row-1"></span><span class="row-2"></span><span class="row-3"></span></div>
                    </li>
                </ul>
            </div>
        </div>
        <a href="#" class="mp-prev"></a>
        <a href="#" class="mp-next"></a>
    </div>
}
<div class="zerogrid">
    <div class="row content-bg">
        <div>
            <div class="wrap-col">
                <article class="indent-bot">
                    <h2>作品展示</h2>
                    <div class="row hr-border-1">
                        <div class="col-1-5">
                            <div class="wrap-col">
                                <img src="/images/page1-img1.jpg" class="img-indent-bot" alt="">
                                <dl class="def-list-1">
                                    <dt>
                                        <a href="#">Tomatoes</a>
                                    </dt>
                                    <dd>Vivamus hendrerit mauris ut du gravida ut viverra lectus tincidunt. 
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="col-1-5">
                            <div class="wrap-col">
                                <img src="/images/page1-img2.jpg" class="img-indent-bot" alt="">
                                <dl class="def-list-1">
                                    <dt>
                                        <a href="#">Indian Eggplant</a>
                                    </dt>
                                    <dd>Vivamus hendrerit mauris ut du gravida ut viverra lectus tincidunt. 
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="col-1-5">
                            <div class="wrap-col">
                                <img src="/images/page1-img3.jpg" class="img-indent-bot" alt="">
                                <dl class="def-list-1">
                                    <dt>
                                        <a href="#">Cabbage</a>
                                    </dt>
                                    <dd>Vivamus hendrerit mauris ut du gravida ut viverra lectus tincidunt. 
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="col-1-5">
                            <div class="wrap-col">
                                <img src="/images/page1-img4.jpg" class="img-indent-bot" alt="">
                                <dl class="def-list-1">
                                    <dt>
                                        <a href="#">Potatoes</a>
                                    </dt>
                                    <dd>Vivamus hendrerit mauris ut du gravida ut viverra lectus tincidunt. 
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="col-1-5">
                            <div class="wrap-col">
                                <img src="/images/page1-img1.jpg" class="img-indent-bot" alt="">
                                <dl class="def-list-1">
                                    <dt>
                                        <a href="#">Potatoes</a>
                                    </dt>
                                    <dd>Vivamus hendrerit mauris ut du gravida ut viverra lectus tincidunt. 
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="alignright">
                        <a href="#" class="button">更多</a>
                    </div>
                </article>
                <article class="banner-box">
                    <div class="inner">
                        <h3>公司动态</h3>
                        <p class="p1">2014年12月中国平安2014年度表彰暨答谢酒会摄制</p>
                        <p class="p1">2014年10月宜昌市第一人民医院妇产科专题片摄制</p>
                        <p class="p1">2014年9月宜昌樱之町寿司制作工艺摄制</p>
                        <p class="p1">2014年8月长江三峡水电工程有限公司先进个人微电影制作</p>
                        <p class="p1">2014年7月湖北秀水天香茶业有限公司宣传片摄制</p>
                        <p class="p1">2014年6月宜昌市第一人民医院妇产科护理部专题片摄制</p>
                        <div class="alignright indent-right">
                            <span class="author">更多</span>
                        </div>
                    </div>
                    <img src="/images/banner-box-img.png" alt="" class="banner-box-img">
                </article>
                <article class="indent-bot">
                    <p></p>
                    <h2>合作客户</h2>
                    <div class="row hr-border-1">
                        <div class="col-1-5">
                            <div class="wrap-col">
                                <img src="/images/kh/kh-img1.jpg" class="img-indent-bot" alt="">
                            </div>
                        </div>
                        <div class="col-1-5">
                            <div class="wrap-col">
                                <img src="/images/kh/kh-img2.jpg" class="img-indent-bot" alt="">
                            </div>
                        </div>
                        <div class="col-1-5">
                            <div class="wrap-col">
                                <img src="/images/kh/kh-img3.jpg" class="img-indent-bot" alt="">
                            </div>
                        </div>
                        <div class="col-1-5">
                            <div class="wrap-col">
                                <img src="/images/kh/kh-img4.jpg" class="img-indent-bot" alt="">
                            </div>
                        </div>
                        <div class="col-1-5">
                            <div class="wrap-col">
                                <img src="/images/kh/kh-img5.jpg" class="img-indent-bot" alt="">
                            </div>
                        </div>
                        <div class="col-1-5">
                            <div class="wrap-col">
                                <img src="/images/kh/kh-img6.jpg" class="img-indent-bot" alt="">
                            </div>
                        </div>
                        <div class="col-1-5">
                            <div class="wrap-col">
                                <img src="/images/kh/kh-img7.jpg" class="img-indent-bot" alt="">
                            </div>
                        </div>
                        <div class="col-1-5">
                            <div class="wrap-col">
                                <img src="/images/kh/kh-img8.jpg" class="img-indent-bot" alt="">
                            </div>
                        </div>
                        <div class="col-1-5">
                            <div class="wrap-col">
                                <img src="/images/kh/kh-img9.jpg" class="img-indent-bot" alt="">
                            </div>
                        </div>
                        <div class="col-1-5">
                            <div class="wrap-col">
                                <img src="/images/kh/kh-img10.jpg" class="img-indent-bot" alt="">
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
