<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/zerogrid.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <script src="/js/css3-mediaqueries.js"></script>
    <script src="/js/jquery-1.7.1.min.js"></script>
    <script src="/js/superfish.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="/js/tms-0.4.1.js"></script>
    <script src="/js/slider.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".sf-menu li").eq(window.navSeq).addClass("current");
        });
    </script>
    @RenderSection("head", false)
</head>
<body>
    <div class="main-bg">
        <!-- Header -->
        <header>
            <div class="nav-responsive">
                <div>MENU</div>
                <select onchange="location=this.value">
                    <option></option>
                    <option value="/home/index.html">首页</option>
                    <option value="/news/index.html">公司动态</option>
                    <option value="/services/index.html">服务项目</option>
                    <option value="/works/index.html">作品展示</option>
                    <option value="/about/index.html">关于我们</option>
                </select>
            </div>
            <div class="inner">
                <h1 class="logo"><a href="index.html">AgroPlus - Agriculture company</a></h1>
                <nav>
                    <ul class="sf-menu">
                        <li><a href="/home/index.html">首页</a></li>
                        <li><a href="/news/index.html">公司动态</a></li>
                        <li>
                            <a href="/services/index.html">服务项目</a>
                        </li>
                        <li><a href="/works/index.html">作品展示</a></li>
                        <li><a href="/about/index.html">关于我们</a></li>
                    </ul>
                </nav>
                <div class="clear"></div>
            </div>
            @RenderSection("slider", false)
        </header>
        <section id="content">
            @RenderBody()
        </section>
        <!-- Footer -->
        <footer>
            <div class="zerogrid">
                <div class="row footer-bg">
                    <div class="hr-border-2"></div>
                    <div class="wrapper">
                        <div class="col-1-3">
                            <div class="wrap-col">
                                <div class="copyright">
                                    &copy; 2015 <strong class="footer-logo">拾光影视</strong>
                                    <div>
                                        <a rel="nofollow" href="http://www.templatemonster.com">Website Template</a> by TemplateMonster.com
									<a rel="nofollow" href="http://www.cssmoban.com/">Responsive Themes</a> by Zerotheme.com
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2-3">
                            <div class="col-1-4">
                                <div class="wrap-col">
                                    <h5 class="heading-1">Archives:</h5>
                                    <ul class="footer-list">
                                        <li><a href="#">October 2012</a></li>
                                        <li><a href="#">September 2012</a></li>
                                        <li><a href="#">August 2012</a></li>
                                        <li><a href="#">July 2012</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-1-4">
                                <div class="wrap-col">
                                    <h5 class="heading-1">Links:</h5>
                                    <ul class="footer-list">
                                        <li><a href="#">Documentation</a></li>
                                        <li><a href="#">Plugins</a></li>
                                        <li><a href="#">Suggest Ideas</a></li>
                                        <li><a href="#">Support Forum</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-1-4">
                                <div class="wrap-col">
                                    <h5 class="heading-1">Support:</h5>
                                    <ul class="footer-list">
                                        <li><a href="#">Special Proposition</a></li>
                                        <li><a href="#">Free Phone</a></li>
                                        <li><a href="#">Solutions</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-1-4">
                                <div class="wrap-col">
                                    <ul class="social-list">
                                        <li><a href="#">
                                            <img src="/images/social-icon-1.png" alt=""></a></li>
                                        <li><a href="#">
                                            <img src="/images/social-icon-2.png" alt=""></a></li>
                                        <li><a href="#">
                                            <img src="/images/social-icon-3.png" alt=""></a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
