@{
    ViewBag.Title = "关于我们";
}
@section head{
    <script type="text/javascript">
        window.navSeq = 4;
    </script>
    }
<div class="zerogrid">
    <div class="row content-bg">

        <article class="col-1-3">
            <div class="wrap-col">
                <h2>联系方式</h2>
                <p class="p1">
                    <strong class="str-2">宜昌市东山大道148号自由空间1111室（北山坡十四中旁）
                    </strong>
                    <dl class="adress">
                        <dd><span>电话:</span><b>0717-6282516</b></dd>
                        <dd><span>&nbsp;</span><b>15072500557</b></dd>
                        <dd><span>&nbsp;</span><b>15671061159</b></dd>
                        <dd><span>QQ:</span><b>2781453351</b></dd>
                    </dl>
                </p>
            </div>
        </article>
        <article class="col-2-3">
            <div class="wrap-col">
                <h2>公司简介</h2>
                <p>
                    拾光影视隶属于宜昌拾光文化传播有限公司，是一家以婚庆和影视为主的现代化、专业性的文化企业。拾光影视主要从事于企业形象策划、企业文化传播、专题片、宣传片、广告片、微电影、M V的摄制、婚礼摄像、大型演出活动摄制、3D动漫设计、光盘刻录等。
   公司主创人员拥有十余年的从业经验，制作的影视作品在宜昌市屡次获得了不错的成绩。
   公司拥有数台专业级索尼高清摄像机、全画幅单反、斯塔尼康稳定器、影视滑轨、10米影视摇臂等。
                </p>
            </div>
        </article>
    </div>
</div>
