@{
    ViewBag.Title = "服务项目";
}
@section head{
    <script type="text/javascript">
        window.navSeq = 2;
    </script>
    }
<!-- Content -->
<div class="zerogrid">
    <div class="wrapper">
        <div class="row content-bg">
            <div class="wrapper">
                <article class="col-2-3">
                    <div class="wrap-col">
                        <h2>服务项目</h2>
                        <div class="wrapper p2 hr-border-1">
                            <img src="/images/page3-img1.jpg" alt="" class="img-indent">
                            <dl class="extra-wrap def-list-1">
                                <dt>
                                    <a href="#">宣传片</a>
                                </dt>
                                <dd class="pad-left">宣传片是用制作电视、电影的表现手法对企业内部的各个层面有重点、有针对、有秩序地进行策划、拍摄、录音、剪辑、配音、配乐、合成输出制作成片，目的是为了声色并茂地凸现企业独特的风格面貌、彰显企业实力，让社会不同层面的人士对企业产生正面、良好的印象，从而建立对该企业的好感和信任度，并信赖该企业的产品或服务。宣传片从其目的和宣传方式不同的角度来分可以分为企业宣传片，产品宣传片，公益宣传片，电视宣传片、招商宣传片。
                                </dd>
                            </dl>
                        </div>
                        <div class="wrapper p2 hr-border-1">
                            <img src="/images/page3-img2.jpg" alt="" class="img-indent">
                            <dl class="extra-wrap def-list-1">
                                <dt>
                                    <a href="#">专题片</a>
                                </dt>
                                <dd class="pad-left">专题片是运用现在时或过去时的纪实，对社会生活的某一领域或某一方面，给予集中的、深入的报道，内容较为专一，形式多样，允许采用多种艺术手段表现社会生活，允许创作者直接阐明观点的纪实性影片，它是介乎新闻和电视艺术之间的一种电视文化形态，既要有新闻的真实性，又要具备艺术的审美性。
                                </dd>
                            </dl>
                        </div>
                        <div class="wrapper p2 hr-border-1">
                            <img src="/images/page3-img3.jpg" alt="" class="img-indent">
                            <dl class="extra-wrap def-list-1">
                                <dt>
                                    <a href="#">广告片</a>
                                </dt>
                                <dd class="pad-left">广告片是信息高度集中、高度浓缩的节目。是视听兼备、声画统一的一种广告形式。广告片兼有报纸、广播和电影的视听特色，以声、像、色兼备，听、视、读并举，生动活泼的特点成为最现代化也最引人注目的广告形式。广告片发展速度极快，并具有惊人的发展潜力。
                                </dd>
                            </dl>
                        </div>
                        <div class="wrapper p2 hr-border-1">
                            <img src="/images/page3-img3.jpg" alt="" class="img-indent">
                            <dl class="extra-wrap def-list-1">
                                <dt>
                                    <a href="#">微电影</a>
                                </dt>
                                <dd class="pad-left">微电影，即微型电影，微电影之“微”不仅在于微时长、微制作、微投资，更是同传统的“大电影”相对应，以其短小、精练、灵活的形式风靡于中国互联网，微电影作为一种新的艺术传播形式，其创作摆脱了条条框框的束缚。
                                </dd>
                            </dl>
                        </div>
                        <div class="wrapper p2 hr-border-1">
                            <img src="/images/page3-img3.jpg" alt="" class="img-indent">
                            <dl class="extra-wrap def-list-1">
                                <dt>
                                    <a href="#">纪实拍摄</a>
                                </dt>
                                <dd class="pad-left">纪实拍摄包含会议庆典摄像、活动会展拍摄、旅行聚会跟拍等。对某一件事进行记录，采用多种艺术手段让单一的内容以不同的形式呈现出来。
                                </dd>
                            </dl>
                        </div>
                        <div class="wrapper p2 hr-border-1">
                            <img src="/images/page3-img3.jpg" alt="" class="img-indent">
                            <dl class="extra-wrap def-list-1">
                                <dt>
                                    <a href="#">婚礼摄像</a>
                                </dt>
                                <dd class="pad-left">用纯艺术的手法创作别具一格的婚礼视频。打破以往走流程，纯记录的呆板摄制方式。在这里您能发现热闹，唯美，感动。我们用电影的剪辑、调色手法，让您的婚礼大片与众不同！
                                </dd>
                            </dl>
                        </div>
                        <div class="wrapper p2 hr-border-1">
                            <img src="/images/page3-img3.jpg" alt="" class="img-indent">
                            <dl class="extra-wrap def-list-1">
                                <dt>
                                    <a href="#">MV</a>
                                </dt>
                                <dd class="pad-left">就音乐电视的概念而言，它应该是利用电视画面手段来补充音乐所无法涵盖的信息和内容。要从音乐的角度创作画面，而不是从画面的角度去理解音乐。
                                </dd>
                            </dl>
                        </div>
                        <div class="wrapper p2 hr-border-1">
                            <img src="/images/page3-img3.jpg" alt="" class="img-indent">
                            <dl class="extra-wrap def-list-1">
                                <dt>
                                    <a href="#">光盘刻录</a>
                                </dt>
                                <dd class="pad-left">使用索尼正品光碟，保证盘片的正宗性及可靠性。数台刻录设备，能够快速保质完成光盘拷贝定单任务。自行设计精美封面盘面，拒绝单一呆板的包装。价格合理，实惠！
                                </dd>
                            </dl>
                        </div>
                        <div class="alignright">
                            <a href="#" class="button">更多</a>
                        </div>
                    </div>
                </article>
                <article class="col-1-3">
                    <div class="wrap-col">
                        <h2>Quality standards:</h2>
                        <div class="wrapper hr-border-1">
                            <span class="dropcap">01.
                            </span>
                            <div class="extra-wrap pad-top">
                                <p class="p0">
                                    <strong class="str-1">Vivamus hendrerit mauris ut du 
                                    </strong>
                                </p>
                                <p class="p2">
                                    Cras mattis tempor eros nec tristique. Sed sed felis arcu, vel vehicula augue.
                                </p>
                            </div>
                        </div>
                        <div class="wrapper hr-border-1">
                            <span class="dropcap">02.
                            </span>
                            <div class="extra-wrap pad-top">
                                <p class="p0">
                                    <strong class="str-1">Cras mattis tempor eros nec 
                                    </strong>
                                </p>
                                <p class="p2">
                                    Sed sed felis arcu, vel vehicula augue. Maecenas faucibus sagittis cursus. 
                                </p>
                            </div>
                        </div>
                        <div class="wrapper hr-border-1">
                            <span class="dropcap">03.
                            </span>
                            <div class="extra-wrap pad-top">
                                <p class="p0">
                                    <strong class="str-1">Sed sed felis arcu vel 
                                    </strong>
                                </p>
                                <p class="p2">
                                    Maecenas faucibus sagittis cursus. Fusce tincidunt, tellus eget tristique.
                                </p>
                            </div>
                        </div>
                        <p class="p1 color-1">
                            <i>Maecenas faucibus sagittis Fusce tincidunt, tellus eget tristique cursus, orci mi iaculis sem, sit amet dictum velit velit eu magna.
                            </i>
                        </p>
                        <p>
                            <i>Nunc viverra nisi sed orci tincidunt at hendrerit orci luctus. Suspendisse tincidunt, ipsum at semper facilisis, turpis nisi dictum diam, nec tincidunt neque velit in nunc. 
                            </i>
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
