@{
    ViewBag.Title = "会场布置";
}
@section head{

    <!-- Add mousewheel plugin (this is optional) -->
    <script type="text/javascript" src="/js/jquery.mousewheel-3.0.6.pack.js"></script>

    <!-- Add fancyBox main JS and CSS files -->
    <script type="text/javascript" src="/source/jquery.fancybox.js?v=2.1.4"></script>
    <link rel="stylesheet" type="text/css" href="/source/jquery.fancybox.css?v=2.1.4" media="screen" />


    <!-- Add Thumbnail helper (this is optional) -->
    <link rel="stylesheet" type="text/css" href="/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
    <script type="text/javascript" src="/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $('.fancybox-thumbs').fancybox({
                prevEffect: 'none',
                nextEffect: 'none',
                closeBtn: true,
                arrows: true,
                nextClick: false,
                helpers: {
                    thumbs: {
                        width: 50,
                        height: 50
                    },
                    title: {
                        type: 'inside'
                    },
                    overlay: {
                        css: {
                            'background': 'rgba(238,238,238,0.85)'
                        }
                    }
                },
                wrapCSS: 'fancybox-custom',
                closeClick: true,
                openEffect: 'none',

            });
        });
    </script>
}

<!--page_container-->
<div class="page_container">
    <div class="breadcrumb">
        <div class="wrap">
            <div class="container">
                <span>婚礼服务/</span>会场布置
            </div>
        </div>
    </div>
    <!--MAIN CONTENT AREA-->
    <div class="wrap">
        <div class="container inner_content">
            <div class="row">
                <!-- portfolio_block -->
                <div class="projects">
                    <div class="span3 element category01" data-category="category01">
                        <div class="hover_img">
                            <a class="fancybox-thumbs" style="" data-fancybox-group="thumb" href="/img/hcbz/hcbz1_b.jpg" title="">
                                <img src="/img/hcbz/hcbz1_b.jpg" alt="" /></a>
                        </div>

                    </div>
                    <div class="span3 element category02" data-category="category02">
                        <div class="hover_img">
                            <a class="fancybox-thumbs" style="" data-fancybox-group="thumb" href="/img/hcbz/hcbz2_b.jpg" title="">
                                <img src="/img/hcbz/hcbz2_b.jpg" alt="" /></a>
                        </div>
                    </div>
                    <div class="span3 element category03" data-category="category03">
                        <div class="hover_img">
                            <a class="fancybox-thumbs" style="" data-fancybox-group="thumb" href="/img/hcbz/hcbz3_b.jpg" title="">
                                <img src="/img/hcbz/hcbz3_b.jpg" alt="" /></a>
                        </div>
                    </div>
                    <div class="span3 element category01" data-category="category01">
                        <div class="hover_img">
                            <a class="fancybox-thumbs" style="" data-fancybox-group="thumb" href="/img/hcbz/hcbz4_b.jpg" title="">
                                <img src="/img/hcbz/hcbz4_b.jpg" alt="" /></a>
                        </div>
                    </div>
                    <div class="span3 element category01" data-category="category01">
                        <div class="hover_img">
                            <a class="fancybox-thumbs" style="" data-fancybox-group="thumb" href="/img/hcbz/hcbz5_b.jpg" title="">
                                <img src="/img/hcbz/hcbz5_b.jpg" alt="" /></a>
                        </div>
                    </div>
                    <div class="span3 element category01" data-category="category01">
                        <div class="hover_img">
                            <a class="fancybox-thumbs" style="" data-fancybox-group="thumb" href="/img/hcbz/hcbz6_b.jpg" title="">
                                <img src="/img/hcbz/hcbz6_b.jpg" alt="" /></a>
                        </div>
                    </div>
                    <div class="span3 element category01" data-category="category01">
                        <div class="hover_img">
                            <a class="fancybox-thumbs" style="" data-fancybox-group="thumb" href="/img/hcbz/hcbz8_b.jpg" title="">
                                <img src="/img/hcbz/hcbz8_b.jpg" alt="" /></a>
                        </div>
                    </div>
                    <div class="span3 element category01" data-category="category01">
                        <div class="hover_img">
                            <a class="fancybox-thumbs" style="" data-fancybox-group="thumb" href="/img/hcbz/hcbz9_b.jpg" title="">
                                <img src="/img/hcbz/hcbz9_b.jpg" alt="" /></a>
                        </div>
                    </div>
                    <div class="span3 element category01" data-category="category01">
                        <div class="hover_img">
                            <a class="fancybox-thumbs" style="" data-fancybox-group="thumb" href="/img/hcbz/hcbz10_b.jpg" title="">
                                <img src="/img/hcbz/hcbz10_b.jpg" alt="" /></a>
                        </div>
                    </div>
                    <div class="span3 element category01" data-category="category01">
                        <div class="hover_img">
                            <a class="fancybox-thumbs" style="" data-fancybox-group="thumb" href="/img/hcbz/hcbz11_b.jpg" title="">
                                <img src="/img/hcbz/hcbz11_b.jpg" alt="" /></a>
                        </div>
                    </div>
                    <div class="span3 element category01" data-category="category01">
                        <div class="hover_img">
                            <a class="fancybox-thumbs" style="" data-fancybox-group="thumb" href="/img/hcbz/hcbz12_b.jpg" title="">
                                <img src="/img/hcbz/hcbz12_b.jpg" alt="" /></a>
                        </div>
                    </div>
                    <div class="span3 element category01" data-category="category01">
                        <div class="hover_img">
                            <a class="fancybox-thumbs" style="" data-fancybox-group="thumb" href="/img/hcbz/hcbz14_b.jpg" title="">
                                <img src="/img/hcbz/hcbz14_b.jpg" alt="" /></a>
                        </div>
                    </div>
                    <div class="span3 element category01" data-category="category01">
                        <div class="hover_img">
                            <a class="fancybox-thumbs" style="" data-fancybox-group="thumb" href="/img/hcbz/hcbz15_b.jpg" title="">
                                <img src="/img/hcbz/hcbz15_b.jpg" alt="" /></a>
                        </div>
                    </div>
                    <div class="span3 element category01" data-category="category01">
                        <div class="hover_img">
                            <a class="fancybox-thumbs" style="" data-fancybox-group="thumb" href="/img/hcbz/hcbz16_b.jpg" title="">
                                <img src="/img/hcbz/hcbz16_b.jpg" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//MAIN CONTENT AREA-->

</div>
<!--//page_container-->
