@{
    ViewBag.Title = "婚礼策划";
}
<!--page_container-->
<div class="page_container">
    <div class="breadcrumb">
        <div class="wrap">
            <div class="container">
                <a href="/home/index.html">婚礼服务
                </a><span>/</span>婚礼策划
            </div>
        </div>
    </div>
    <div class="wrap">
        <div class="container">
            <section>
                <h2 class="title"><span>百合婚礼</span></h2>
                <p>
                    《百合婚礼》策划方案

白色代表神圣纯洁，许多新郎新娘都梦想举办一个白色的婚礼，但又担心遭到长辈们的阻挠，有没有一个折中的办法呢？向你推荐一个白色的百合婚礼，用清新的百合花来装饰你的婚礼， “ 百年好合 ” 的寓意一定会令长辈们满意的。  
  
仪式区  
    仪式区是一片白色的世界，这浪漫的场景会令你铭记终生。白色地毯一直伸向仪式台，地毯两边是 20 支白色鲜花罗马路引，每个路引的上方是一个白色的百合花饰。  
地毯尽头是白色的百合花门，金属架子上缠以各种绿植，花门的组成则以一朵朵白色百合，满天星构成，每朵百合朝向不同的方向，犹如一只只小喇叭，传达着喜悦与祝福。在绿植和百合的掩映下，还悬挂着一个个绿苹果清透可人，营造了一片绿意葱茏的自然景象，在追光灯和烛光的映射下，犹如清晨的藤上流淌的颗颗露珠晶莹剔透。  
颜色基调  
白色的亚麻桌布，白色的椅套，白色的餐巾，白色的餐碟，白色的百合花，白色的蜡烛，透明的玻璃杯，让一切都变得纯洁浪漫起来。  
            

宴会区  
一场欢乐的喜筵开始了，长条餐桌有序的组合在一起，自然而随意。餐桌上摆放着多组百合花饰，不仅显得明亮，而且给人梦境般的感觉。花时间摆放着一只只白色水漂烛台，摇曳的烛光为桌上的一切都蒙上一层朦胧的色彩，令每一位客人都沐浴在烛光和醉人花束组成的梦幻世界里。每张桌上饰一个高的中心花饰，高脚杯里插满了盛开的百合花和翠绿的百合花蕾，花朵四周点缀的常青藤一直分垂到桌面，丰美的鲜花一定会让客人们胃口大开。  
     

宴会食物  
    客人们尽情享用着美酒佳肴。美味的开胃菜色泽鲜艳，清淡而不油腻。牛肉卷莴笋，柠檬三文鱼，奶酪，西红柿，黄瓜和橄榄做成的奶酪串，黄白的鸡蛋上摆放着北极甜虾，鲜虾，鸡排，配以绿，黄，紫不同颜色的生菜以及彩椒和黑橄榄。这些菜不仅赏心悦目 ，而且飘着淡淡的香草味道。  
除了美味的食物，香醇的美酒当然也不能少，可以为客人们准备一些葡萄酒和鸡尾酒，和饭后饮用的甜酒。对于那些不饮酒的人可以为他们准备一些鲜橙汁。  
客人们一起举杯，祝愿你们将来的日子犹如这芬芳的百合花般天天美好，直到永远 ……
                        <br />
                    百合婚礼小帖士<br />
                    1．背板，西式背景<br />
                    2．韩国主体烛台、餐桌烛台（32支水漂烛，一支百年刻度烛）<br />
                    3．铁炮百合鲜花门<br />
                    4．前台鲜花罗马立柱<br />
                    5．百合花路引配蜡烛（烛光长廊）<br />
                    6．新人入场白色地毯<br />
                    7．主桌鲜花、餐桌鲜花<br />
                    8．婚礼电声乐队<br />
                    9．婚礼伴宴演出（古筝、笛子、...萨克斯、小提琴）<br />
                    10．专业追光灯两台<br />
                    11．烟雾机两台<br />
                    12．泡泡机一台<br />
                    13．资深策划主持人一名<br />
                    14．专业DJ一名<br />
                    15．背景照明射灯一组<br />
                    16．专业调音台、主音箱、无线话筒<br />
                    17．专业婚礼调酒师<br />
                    18．礼仪小姐<br />
                    19．专业广播级DV数码摄像<br />
                    20．专业摄影（佳能或尼康顶级...配备）<br />
                    21．专业新娘形象设计
22．现场督导一名
                </p>
            </section>
             <section>
                <h2 class="title"><span>浪漫之旅</span></h2>
                <p>
                    《浪漫之旅》主题婚礼	
　　从懵懂少年到共谱恋曲的亲密爱人,他们曾并肩走过了许多个日子,用喜悦、感动和泪水写下了永远。如今，这对珠联璧合的年轻人终于要给自己的爱情添上一个幸福结局。执子之手，与子偕老，这是他们对彼此的承诺。在10月4日承载着他们对未来的憧憬，这对佳偶的幸福之路也就此开启。。。。。。。。 
婚礼格调：神圣 庄重 亲情
　　根据婚礼仪式场地本身的特点，用淡色花配上绿叶，并放置洁白的立亭，释化了地面原本浓重的色彩，衬托出西式证婚仪式纯洁清雅的风格。注：整个背景以紫色为主 并有屏障，并有满天星 高贵而神秘
　　现场两边用纱布置 中间柱子用气球和纱布置
　　特别设计：
　　大厅迎宾处特色背景墙（可供客人与新人拍照留念）
　　新娘，穿上洁白的婚纱，迎接来自四方的宾客。这是给宾客留下第一印象的地方，当然在布置方面不可忽视。
注：布置要有鲜花 小礼品在地上做为摆设 背景墙需经过设计而且打上婚礼主题的字，背景墙要用纱等布置 
婚礼现场布置<br />
                        1. 大厅迎宾——迎宾背景墙装饰（可供客人与新人拍照留念）背景墙客人自己制作<br />
                        2.楼梯扶手用纱绢花装饰，一楼楼梯口气球拱门1座 楼梯上用玫瑰大道和蜡烛布置<br />
                        3.二楼楼梯口至厅门口玫瑰大道（玫瑰花瓣+蜡烛）<br />
                        4.五星厅门口绢花拱门1座 五星厅门用鲜花拉手设计<br />
                        5.大厅——①中间过道铺设地毯至背景，地毯三分之一处绢花花房1座
②边上绢花发光立亭10个依次排开<br />
                        6背景布置— ①星星点点的背景板，格调高雅，委婉浪漫，背景上下垂下的藤蔓更让人眼前一亮。<br />
                        7．迎宾牌1个，签到台布置（签到本1本，签到笔）签到台用鲜花布置 笔用心形 签到本不能为简单的那种<br />
                        8．道具：追光灯2台1500w，泡泡机，水晶烛台，冷焰火6个,许愿树
                        <br />
                        仪式篇<br />
                        宾客入座前放电子相册，在基本入坐后全场灯光按下，一台追光仪照到司仪处，投影片放新人mtv 司仪进行讲解
<>
>宣誓仪式
全场灯光全部暗下 ,追光灯、司仪、配乐师及其他人员准备就绪<br />
                        1.进场<br />
                        随着音乐的响起，门缓缓的开启，手持捧花的新郎入场，在花房处停下，转身等待新娘，音乐再次响起，门缓缓的开启，首先映入眼帘的是手捧蜡烛，背天使翅膀的花童。盖着头纱，戴着天使翅膀的娇美新娘缓缓的步入殿堂。新郎迎上前去，将手捧花送给新娘，亲吻新娘,并为新娘摘下翅膀。（有这样一个传说，当天使遇到心爱的人会流下甜蜜的眼泪，褪去可以飞翔的翅膀，放弃众人羡慕的天堂，来到人间，与心爱的人相伴一生）婚礼进行曲响起，新郎新娘手挽手步入场。
2.宣誓<br />
                        新人宣誓，并在誓言书上签下名字
3.交换信物——戒指从天而降 看看还有没有其他创意<br />
                        4.新人示爱<br />
                        主持人宣布新人正式成为夫妻，任何人都不能将他们分开，新郎可以亲吻他的新娘 。新郎掀开头纱亲吻新娘
5.领导讲话<br />
                        6.倒香槟<br />
                        7.切蛋糕<br />
                        8.新人退场（在花房处转身向来宾深深的鞠一躬）
 退场期间,主持人宣读来宾的祝福卡片. 
烛光仪式
1新人手挽手入场，两侧撒花瓣。一起点燃同心烛
2. 交杯酒<br />
                        3.新人讲话并向父母表达感激之情,并向父母献上感恩花束<br />
                        4.新人父母代表讲话<br />
                        5.来宾全体起立，与新人举杯同庆<br />
                        新人入席
                </p>
            </section>
        </div>
    </div>
</div>
<!--//page_container-->
