<!--header-->
<div class="header">
    <div class="wrap">
        <div class="navbar navbar_ clearfix">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <div class="logo">
                            <a href="index.html">
                                <img src="/img/logo.jpg" alt="" /></a>
                        </div>
                    </div>
                    <div class="span8">
                        <div class="follow_us">
                            @*<ul>
                                <li><a href="#" class="facebook">Facebook</a></li>
                                <li><a href="#" class="vimeo">Vimeo</a></li>
                                <li><a href="#" class="tumbrl">Tumbrl</a></li>
                                <li><a href="#" class="twitter">Twitter</a></li>
                                <li><a href="#" class="delicious">Delicious</a></li>
                            </ul>*@
                            <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
                            <script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "1", "bdSize": "24" }, "share": {} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
                        </div>
                        <div class="clear"></div>
                        <nav id="main_menu">
                            <div class="menu_wrap">
                                <ul class="nav sf-menu">
                                    <li><a id="nav_a_home" href="/home/index.html">首页</a></li>
                                    <li class="sub-menu"><a href="javascript:{}">婚礼服务</a>
                                        <ul>
                                            <li><a href="/service/plan">婚礼策划</a></li>
                                            <li><a href="/service/arrange">会场布置</a></li>
                                            <li><a href="/service/shoot">摄影摄像</a></li>
                                            <!--<li><a href="#">婚庆司仪</a></li>-->
                                            <!--<li><a href="#">婚礼督导</a></li>-->
                                            <!--<li><a href="#">新娘跟妆</a></li>-->
                                            <li><a href="/service/flower">鲜花车队</a></li>
                                            <li><a href="/service/light">灯光音响</a></li>
                                        </ul>
                                    </li>
                                    <li><a id="nav_a_showcase" href="/showcase/index">案例展示</a></li>
                                    <li class="sub-menu"><a id="nav_a_video" href="/video/video">婚礼视频</a>
                                        <ul>
                                            <li><a href="/video/video1.html">婚礼集锦</a></li>
                                            @*<li><a href="#">爱情微电影</a></li>*@
                                        </ul>
                                    </li>
                                    <!-- <li><a href="portfolio.html">酒店信息</a></li>-->
                                    <li><a id="nav_a_about" href="/about/about">关于我们</a></li>
                                    <li><a id="nav_a_contact" href="/contact/contact">联系我们</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//header-->
