@{
    ViewBag.Title = "公司动态";
}
<div class="zerogrid">
    <div class="row content-bg">
        <div class="wrapper">
            <div class="wrap-col">
                <h2>公司动态</h2>
                <div class="col-1-2">
                    <div class="wrap-col">
                        <ul class="price-list">
                            <li><a href="javascript:void(0);" class="price-item">中国平安2014年度表彰暨答谢酒会摄制</a><span class="price">2013.11</span></li>
                            <li><a href="javascript:void(0);" class="price-item">宜昌市第一人民医院妇产科专题片摄制</a><span class="price">2013.11</span></li>
                            <li><a href="javascript:void(0);" class="price-item">宜昌樱之町寿司制作工艺摄制</a><span class="price">2013.12</span></li>
                            <li><a href="javascript:void(0);" class="price-item">长江三峡水电工程有限公司先进个人微电影制作</a><span class="price">2014.4</span></li>
                            <li><a href="javascript:void(0);" class="price-item">湖北秀水天香茶业有限公司宣传片摄制</a><span class="price">2014.5</span></li>
                            <li><a href="javascript:void(0);" class="price-item">宜昌市第一人民医院妇产科护理部专题片摄制</a><span class="price">2014.6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-1-2">
                    <div class="wrap-col">
                        <ul class="price-list">
                            <li><a href="javascript:void(0);" class="price-item">宜昌上海中学美丽校园展评专题片摄制</a><span class="price">2014.6</span></li>
                            <li><a href="javascript:void(0);" class="price-item">宜昌小阿福乐园儿童微电影摄制</a><span class="price">2014.7</span></li>
                            <li><a href="javascript:void(0);" class="price-item">宜昌市猇亭区文化示范社区创建宣传片拍摄</a><span class="price">2014.8</span></li>
                            <li><a href="javascript:void(0);" class="price-item">宜昌市中心医院麻醉科专题片制作</a><span class="price">2014.9</span></li>
                            <li><a href="javascript:void(0);" class="price-item">宜昌市猇亭区演讲比赛作品摄制</a><span class="price">2014.10</span></li>
                            <li><a href="javascript:void(0);" class="price-item">湖北秀水天香茶业有限公司的汇报片摄制</a><span class="price">2014.12</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
